*{
  box-sizing: border-box;
  color: white;
}
body{
  background: rgb(56, 0, 56);
}
.App {
  font-size: 26px;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  width: 100%;
  text-wrap: nowrap;
  text-align: center;
}

input,
button{
  padding: 10px 15px;
  width: 300px;
  font-size: 26px;
  border-radius: 10px;
  /* color: black; */
  border: 2px solid rgb(117, 0, 117);
  background-color: transparent;
}

button:hover{
  background-color: rgb(117, 0, 117);
}
button:active{
  background-color: rgb(56, 0, 56);
}


input{
  margin:  20px 0 ;
  text-align: center;

}
button{
  margin:0 auto;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}